<% include header.html %>
    <div id="printInstrictions" class="text-center"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="juego text-center">
                <h3>MARCADOR</h3> <span id="marcador">00</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="main-character_"></div>
            <!-- <div id="pot"> -->
            <img id="personajes_src">
            <!-- <span id="personajes"></span> -->
            <!-- </div> -->
        </div>
    </div>
    <input type="hidden" id="randomClick" value="1"><strong id="ipId"></strong>
    <% var extraJs = 'adivina'; %>
        <% include footer.html %>