<% include header.html %>

    <h1 class="w100 text-center">Resultados</h1>
    <div class="row">
        <div class="col-sm-12"></div>
        <div id="results"></div>
    </div>
    </div>    
    <script src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflY6gPjD/www-widgetapi.js" async=""></script>    
    <% var extraJs = 'yt'; %> 
        <script src="https://apis.google.com/js/client.js?onload=initYT"></script>
<% include footer.html %>